:root {
  --animation-duration-fast: 150ms;
  --animation-duration-normal: 300ms;
  --animation-duration-slow: 500ms;
}

@theme inline {
  --animation-duration-fast: var(--animation-duration-fast);
  --animation-duration-normal: var(--animation-duration-normal);
  --animation-duration-slow: var(--animation-duration-slow);
}
